<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<context:annotation-config />	
	<context:component-scan base-package="com.mpos.action,com.mpos.dao,com.mpos.service,com.mpos.api" />
	
	<bean class="com.mpos.commons.MyApplicationContextUtil" lazy-init="false"></bean>
	
	<!-- 资源文件绑定器 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n.messageResource" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	
	<bean id="messageService" class="com.mpos.service.impl.MessageServiceImpl" autowire="byName"/>
	
	<bean id="serviceOrderService" class="com.mpos.service.impl.ServiceOrderServiceImpl" autowire="byName"/>
	
	<bean id="serviceService" class="com.mpos.service.impl.ServiceServiceImpl" autowire="byName"/>
	
	<bean id="storeService" class="com.mpos.service.impl.StoreServiceImpl" autowire="byName"/>
	
	<bean id="tableService" class="com.mpos.service.impl.TableServiceImpl" autowire="byName"/>
	
	<bean id="deviceService" class="com.mpos.service.impl.DeviceServiceImpl" autowire="byName"/>
	
	<bean id="commodityService" class="com.mpos.service.impl.CommodityServiceImpl" autowire="byName"/>
	
	<bean id="localizedFieldService" class="com.mpos.service.impl.LocalizedFieldServiceImpl" autowire="byName"/>	 
		 	 
	<bean id="attributeService" class="com.mpos.service.impl.CategoryAttributeServiceImpl" autowire="byName"/>
	
	<bean id="menuService" class="com.mpos.service.impl.MenuServiceImpl" autowire="byName"/>
	
	<bean id="categoryService" class="com.mpos.service.impl.CategoryServiceImpl" autowire="byName"/>
		
	<bean id="adminUserService" class="com.mpos.service.impl.AdminUserServiceImpl" autowire="byName"/>
		
	<bean id="adminRoleService" class="com.mpos.service.impl.AdminRoleServiceImpl" autowire="byName"/>
	
	<bean id="adminRoleRightsService" class="com.mpos.service.impl.AdminRoleRightsServiceImpl" autowire="byName"/>
	
	<bean id="adminNodesService" class="com.mpos.service.impl.AdminNodesServiceImpl" autowire="byName"/>
	
	<bean id="adminInfoService" class="com.mpos.service.impl.AdminInfoServiceImpl" autowire="byName"/>		
	
	<bean id="adminuserLogService" class="com.mpos.service.impl.AdminuserLogServiceImpl" autowire="byName"/>
	
	<bean id="systemSettingService" class="com.mpos.service.impl.SystemSettingServiceImpl" autowire="byName"/>				
	
	<bean id="languageService" class="com.mpos.service.impl.LanguageServiceImpl" autowire="byName"/>	
	
	<bean id="goodsService" class="com.mpos.service.impl.GoodsServiceImpl" autowire="byName"/>	
	
	 <bean id="promotionService" class="com.mpos.service.impl.PromotionServiceImpl" autowire="byName"/>
	 
	 <bean id="orderService" class="com.mpos.service.impl.OrderServiceImpl" autowire="byName"/>
	 
	 <bean id="orderItemService" class="com.mpos.service.impl.OrderItemServiceImpl" autowire="byName"/>
	 
	 <bean id="productReleaseService" class="com.mpos.service.impl.ProductReleaseServiceImpl" autowire="byName"/>
	 
	 <bean id="CategoryAttributeService" class="com.mpos.service.impl.CategoryAttributeServiceImpl" autowire="byName"/>
	 
	 <bean id="goodsImageService" class="com.mpos.service.impl.GoodsImageServiceImpl" autowire="byName"/>
	 
	 <bean id="productAttributeService" class="com.mpos.service.impl.ProductAttributeServiceImpl" autowire="byName"/>
	 
	 <bean id="goodsAttributeService" class="com.mpos.service.impl.GoodsAttributeServiceImpl" autowire="byName"/>
	 
	 <bean id="attributeValueService" class="com.mpos.service.impl.AttributeValueServiceImpl" autowire="byName"/>
	 
	<!-- 缓存系统常用数据 -->
	<bean class="com.mpos.core.CachedDataProcessor"/>
</beans>